body {
  background-color: #164d5e;
  color: white;
}

header {
  text-align: center;
}

main {
  min-width: 300px;
  max-width: 800px;
  background-color: #5e5e5e;
  color: white;
  padding: 0.3em;
  margin: auto;
  border-radius: 0.3em;
  box-shadow: 2px 2px 3px #00000030;
}

footer {
  text-align: center;
  text-decoration: underline;
  font-size: 0.6em;
}